# vim: syntax=kconfig

mainmenu "crosslinux-@@CL_VERSION@@ -- Configure a Cross Linux Build"

# ----------------------------------------------------- System Name and Version

menu "System Name and Version"

config BRAND_NAME
	string
	default "crosslinux"
	prompt "Distribution Name"
	---help---
	  This is the brand name of your Linux distribution, like Debian,
	  Fedora, Ubuntu, etc.

config BRAND_URL
	string
	default "www.crosslinux.org"
	prompt "Distribution Website"
	---help---
	  This is the web site for your Linux distribution.

config RELEASE_NAME
	string
	default "aardweevil"
	prompt "Release Name"
	---help---
	  This is the name of the specific release of your Linux distribution,
	  something like "Gnarlly Narwhal", etc.

config RELEASE_VERS
	string
	default "0.0.1"
	prompt "Release Version"
	---help---
	  Version of your Linux distribution.  This is a string, you can put
	  anything you want.

endmenu

# ---------------------------------- System Architecture and Boot Configuration

menu "System Architecture and Boot Configuration"
source @@CL_LIBDIR@@/pkg-cfg/Kconfig-bootcfg
source @@CL_LIBDIR@@/pkg-cfg/Kconfig-loaders
endmenu

# ------------------------------------ Cross-tool Chain and Build Configuration

menu "Cross-tool Chain and Build Configuration"
source @@CL_LIBDIR@@/pkg-cfg/Kconfig-xtcfg
endmenu

# -------------------------------------------------------------------- Packages

source @@CL_LIBDIR@@/pkg-cfg/Kconfig-pkgcfg
