# vim: syntax=kconfig

# *****************************************************************************
# BeagleBone Boot Loader 
# *****************************************************************************

if BOARD_BEAGLEBONE

config LOADER_UBOOT_2012p10
	bool
	default y
	prompt "Use the u-boot-2012.10 boot loader"
	---help---
	  This is the available boot loader.

config UBOOT_TARGET
        string
        default "am335x_evm"

config FORCE_UBOOT
	def_bool y
	select LOADER_UBOOT_2012p10

endif

# *****************************************************************************
# Mac G4 Boot Loader 
# *****************************************************************************

if BOARD_MAC_G4

config LOADER_YABOOT
	bool
	default y
	prompt "Use the yaboot boot loader"
	---help---
	  This is the available boot loader.

config FORCE_YABOOT
	def_bool y
	select LOADER_YABOOT

endif

# *****************************************************************************
# PC Boot Loader 
# *****************************************************************************

if BOARD_PC_486 || BOARD_PC_686 || BOARD_PC_X86_64

config LOADER_SYSLINUX_6p01
	bool
	default y
	prompt "Use the syslinux-6.01 'isolinux.bin' boot loader"
	---help---
	  This is the available boot loader.

config FORCE_SYSLINUX
	def_bool y
	select LOADER_SYSLINUX_6p01

endif

# *****************************************************************************
# PC Boot Loader 
# *****************************************************************************

config LOADERSUBDIR
        string
        default "syslinux-6.01" if LOADER_SYSLINUX_6p01
        default "uboot-2012.10" if LOADER_UBOOT_2012p10
        default "yaboot"        if LOADER_YABOOT
