config BLD_BUSYBOX_1p21p0
	bool
	default y
	prompt "Build busybox-1.21.0"
	---help---
	  Crosslinux systems use BusyBox.  You can't fly without.

config FORCE_BUSYBOX
	def_bool y
	select BLD_BUSYBOX_1p21p0

config BUSYBOX_HAS_LOSETUP
	bool
	default y if ! HAVE_UTIL_LINUX
	default n if HAVE_UTIL_LINUX = y
