# vim: syntax=kconfig

config XTOOL_NAME
	string
	default ""
	prompt "Cross-tool Chain Name Prefix (Tuple)"
	---help---
	  Enter the cross-tool chain name prefix (tuple) here.

	  Cross-tool chain components such as gcc are called by prefixing the
	  target tuple to the component name e.g,
	  "armv7-generic-linux-gnueabi-gcc", wherein
	  "armv7-generic-linux-gnueabi" is the tuple and "gcc" is the component.

	  Some cross-tool chains have shortened names and may not use the tuple
	  name, such as "armv7-gcc" or "ppc-gcc".

	  If you enter "fubar" here, then the cross-tool chain will be called
	  with program names like "fubar-gcc" and "fubar-as", etc.

	  ***** NOTICE do NOT put a "-" on the end of the name; do NOT enter
		something like "fubar-".

config XTOOL_BIN_DIR
	string
	default ""
	prompt "Path to Cross-tool Chain"
	---help---
	  This is the path to the cross-tool chain directory.

config XTOOL_SYSROOT_DIR
	string
	default ""
	prompt "Path to Cross-tool Chain Sysroot"
	---help---
	  This is the path to the cross-tool chain sysroot directory.

config XTOOL_TARGET_MANIFEST_DIR
	string
	default ""
	prompt "Path to Cross-tool Chain Target Manifest"
	---help---
	  This is the path to the cross-tool chain directory that has the
	  target components' source packages and text manifest file.  The
	  source code packages for the Linux kernel and libc should be in
	  this directory, along with any patches applies those.

config DOWNLOAD_DIR
	string
	default "${HOME}/Download/"
	prompt "Download Cache Directory"
	---help---
	  Crosslinux downloads source packages to cross-build.  Enter the
	  directory into which to download the source packages.

	  If you make this an empty string, then crosslinux will make and use a
	  "pkg-src/" directory in the top-level build directory.

config PARALLEL_JOBS
	bool
	default y
	prompt "Use Parallel Jobs"
	---help---
	  This is whether make will be asked to run concurrent jobs.

	  Select this and crosslinux will use a number of jobs based on the
	  number of processor cores detected.

	  Say no to use only one job.

config STRIP_BINS
	bool
	default y
	prompt "Strip Target Executables and Libraries"
	---help---
	  All target executables and libraries will be striped.

config SITE_SCRIPTS
	bool
	default y
	prompt "Site Scripts"
	---help---
	  Run the site scripts during the build process.

config SITE_BUSYBOX_CFG
	bool
	default n
	prompt "Site BusyBox Configuration"
	---help---
	  Select this to use the site BusyBox configuration.

config SITE_KERNEL_CFG
	bool
	default n
	prompt "Site Kernel Configuration"
	default ""
	---help---
	  Select this to use the site Kernel configuration.

config SITE_KERNEL_CFG_PNAME
	string
	default ""
	depends on SITE_KERNEL_CFG
	prompt "Location in site directory of kernel config"
	---help---
	  This is the path FROM THE SITE DIRECTORY to the kernel configuration
	  file.

	  For instances, if you want to use linux-3.8.1.config, and it is in a
	  directory named "kernel" in the site directory, then enter
	  "kernel/linux-3.8.1.config" here.

config SITE_KERNEL
	bool
	default n
	prompt "Site Kernel"
	default ""
	---help---
	  Select this to use the site Kernel tarball and configuration.

config SITE_KERNEL_PNAME
	string
	default ""
	depends on SITE_KERNEL
	prompt "Location in site directory of the kernel"
	---help---
	  This is the path FROM THE SITE DIRECTORY to the kernel, including it
	  complete starball name.

	  For instances, if you want to use linux-3.8.1.tar.xz, and it is in a
	  directory named "kernel" in the site directory, then enter
	  "kernel/linux-3.8.1.tar.xz" here.

config FORCE_SITE_KERNEL_CFG
        def_bool y
        select SITE_KERNEL_CFG if SITE_KERNEL
