comment "Target Architecture and Build Configuration"

choice
    bool
    default BOARD_PC_486
    prompt "Target Board"
    help
      Select the target board.

config BOARD_BEAGLEBONE
    bool "Beagle Bone \"White\""
    help
      The BeagleBone "White" is a low-cost, high-expansion BeagleBoard with
      an AM335x 720MHz ARM Cortex-A8 SoC.
      http://beagleboard.org/bone/
      http://www.ti.com/product/am3358
      http://en.wikipedia.org/wiki/ARM_architecture

config BOARD_MAC_G4
    bool "Macintosh G4"
    help
      Macintosh G3 or G4 (PowerPC 7xx/74xx) such as an Apple PowerMac or
      PowerBook computer.
      http://en.wikipedia.org/wiki/PowerPC_G3
      http://en.wikipedia.org/wiki/PowerPC_G4

config BOARD_PC_486
    bool "PC i486"
    help
      Generic PC compatible computer with an Intel i486 microprocessor,
      specifically the i486 instruction set, or a more capable compatible
      CPU.
      http://en.wikipedia.org/wiki/I486

config BOARD_PC_686
    bool "PC i686"
    help
      Generic PC compatible computer with an Intel Pentium Pro
      microprocessor, or a more capable compatible CPU.
      http://en.wikipedia.org/wiki/I686

config BOARD_PC_X86_64
    bool "PC x86_64"
    help
      Generic PC compatible computer with an AMD64/Intel 64 microprocessor.
      http://en.wikipedia.org/wiki/X86_64

endchoice

config BOARD
    string
    default "beagle_bone" if BOARD_BEAGLEBONE
    default "mac_g4"      if BOARD_MAC_G4
    default "pc_i486"     if BOARD_PC_486
    default "pc_i686"     if BOARD_PC_686
    default "pc_x86_64"   if BOARD_PC_X86_64

config CPU_ARCH
    string
    default "armv7"   if BOARD_BEAGLEBONE
    default "powerpc" if BOARD_MAC_G4
    default "i486"    if BOARD_PC_486
    default "i686"    if BOARD_PC_686
    default "x86_64"  if BOARD_PC_X86_64

config LINUX_ARCH
    string
    default "arm"     if BOARD_BEAGLEBONE
    default "powerpc" if BOARD_MAC_G4
    default "i386"    if BOARD_PC_486
    default "i386"    if BOARD_PC_686
    default "x86_64"  if BOARD_PC_X86_64

config CFLAGS
    string
    default "-mcpu=cortex-a8"                if BOARD_BEAGLEBONE
    default "-mcpu=powerpc -mtune=powerpc"   if BOARD_MAC_G4
    default "-march=i486 -mtune=i486 -Os"    if BOARD_PC_486
    default "-march=i686 -mtune=generic -Os" if BOARD_PC_686
    default "-m64 -Os"                       if BOARD_PC_X86_64

config LOADER
    string
    default "u-boot"   if BOARD_BEAGLEBONE
    default "yaboot"   if BOARD_MAC_G4
    default "isolinux" if BOARD_PC_486
    default "isolinux" if BOARD_PC_686
    default "isolinux" if BOARD_PC_X86_64
