config BLD_CROSSLINUX_LIBC
	bool
	default y
	prompt "libc -- from the cross-tool chain."
	---help---
	  You must have a libc.  This comes from the cross-tool chain.

config FORCE_LIBC
	def_bool y
	select BLD_CROSSLINUX_LIBC
