config BLD_UTIL_LINUX_2p23
    bool
    default n
    prompt "Build util-linux-2.23"
    help
      Select this option to cross-build util-linux.

config HAVE_UTIL_LINUX
    bool
    default y if BLD_UTIL_LINUX_2p23 = y
    default n if ! BLD_UTIL_LINUX_2p23
