config BLD_E2FSPROGS_1p42p9
	bool
	default y
	prompt "Build e2fsprogs-1.42.9"
	---help---
	  Select this option to cross-build e2fsprogs.

config E2FSPROGS_HAS_BLKID
	bool
	default y if ! HAVE_UTIL_LINUX
	default n if HAVE_UTIL_LINUX = y

config E2FSPROGS_HAS_FINDFS
	bool
	default y if ! HAVE_UTIL_LINUX
	default n if HAVE_UTIL_LINUX = y
