config BLD_CROSSLINUX_UTILS
     bool
     default y
     prompt "Build crosslinux utilities."
     help
       Select this option to include the crosslinux utilities.  These utilities
       include (target system path are shown):

            /root/install.conf ....... config file for cl-installer
            /sbin/cl-flash ........... install live system onto flash drive
            /sbin/cl-installer ....... normal install onto drive
            /usr/bin/pacman .......... package manager
