config BLD_TTYLINUX_UTILS_1p6
	bool
	default n
	prompt "Build ttylinux-utils-1.6"
	---help---
	  Select this option to include the ttylinux utils.  This includes the
	  ttylinux package manager 'pacman'.
